bundle
tags
.netrwhist
.*.swp
autoload/youcompleteme
autoload/youcompleteme.vim
autoload/editorconfig.vim
doc/editorconfig.txt
doc/tags
doc/youcompleteme.txt
plugin/editorconfig.vim
plugin/youcompleteme.vim
